{% extends "base.html" %}
{% block content %}


	<style type="text/css">
		body {
			font-family: sans-serif;
			width: 800px;
			margin: 0 auto;
			padding: :10px;
		}

		.error {
			color: red
		}

		label {
			display: block;
			font-size: 20px
		}

		input[type=text] {
			width: 400px;
			font-size: 20px;
			padding: 2px;
		}

		textarea[type=text] {
			width: 400px;
			height: :200px;
			font-size: 17px;
			font-family: monospace;
		}

		input[type=submit] {
			font-size: 24px;
		}

		hr {
			margin: 20px auto;
		}

		.blog + .blog {
			margin-top: 40px;
		}

		.blog-subject {
			font-weight: bold;
			font-size: 20px;
		}

		.blog-body {
			margin: 0;
			font-size: 17px;
		}

	</style>

	<form>

		

		{% for blog in blogs %}
			<div class="blog">
				<div class="blog-subject">{{ blog.subject }}</div>
				<hr>
				<div class="created-time">{{ blog.created }}</div>
				<pre class="blog-body">{{ blog.blog }}</pre>
			</div>
		{% endfor %}
	</form>
		


{% endblock %}